.container {
  height: 474px;
  width: 100%;
  position: relative;
}

.backdrop {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgb(187, 187, 187, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.emptyData {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(238, 238, 238);
  flex: 1;
  height: 100%;
  border-radius: 10px;
}
